<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TakeIt - Buy Ticket</title>
        <link rel="stylesheet" type="text/css" href="/main-style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar playwrite-dk-uloopet">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Concert">Concert</a></li>
                <li><a href="#Cart">Cart</a></li>
                <li><a href="#Orderhistory">Order History</a></li>
                <li><a href="#profile">Profile</a></li>
            </ul>
        </div>

        <div class="buy-ticket-container playfair-display">
            <h1>Buy Ticket</h1>
            <!-- Ticket purchasing form or details go here -->
        </div>
    </body>
</html>