<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TakeIt - Buy Ticket</title>
        <link rel="stylesheet" type="text/css" href="/main-style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="nav-bar playwrite-dk-uloopet" style="display: flex; justify-content: space-between; align-items: center;">
			<div class="dropdown">
				<span>Login in</span>
				<div class="dropdown-menu">
					<a href="/customer">Login in</a>
					<a href="/customer/register">Register</a>
				</div>
			</div>
			<div style="padding:10px;">
				<a href="?lang=en">English</a> |
				<a href="?lang=zh">中文</a>
			</div>
		</div>

        <div class="nav-bar playwrite-dk-uloopet">
            <ul>
                <li><a href="/"><%= __("home") %></a></li>
			    <li><a href="/concert"><%= __("concert") %></a></li>
                <li><a href="#Orderhistory"><%= __("order_history") %></a></li>
                <li><a href="#profile"><%= __("profile") %></a></li>
            </ul>
        </div>
        Your Order is completed sucessfully!
    </body>
</html>